* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: chocolate;
  margin-top: 2rem;
}

.formDiv {
  width: 400px;
  height: 300px;
  border: 1px solid lightblue;
  background-color: antiquewhite;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  margin: 15px;
}

label {
  font-size: 1.2rem;
  padding-left: 15px;
}

button {
  margin: 0px 25px;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 8px;
  background-color: rgb(235, 221, 221);
  font-size: 1.2rem;
}

.navbar {
  height: 3rem;
  background-color: rgb(157, 237, 239);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar_NavLink {
  color: black;
  text-decoration: none;
}
